.parrafo{

    font-size: 20px;
    color:black;
    Font-weight: italic;
}

h1{

    font-size: 30px;
    color:black;
    font-weight: bold;
    text-align: center;
}

h2{

    font-size: 30px;
    color:black;
    font-weight: bold;
    text-align: center;
}

h3{

    font-size: 30px;
    color:black;
    font-weight: bold;
    text-align: center;
}

footer{
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-align: center;

}






